body {
    font-family: $parrafos-font-family;
}

trix-editor{
    min-height: 400px;
    height: auto !important;
}

.bg-primary .navbar-brand {
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 2em;
    &:hover {
        color: #fff;
    }
}

.icono{
    width: 30px;
}
