// Body
$body-bg: #fdfeff;

// Typography
$font-family-sans-serif: "Fredoka One", cursive;
$parrafos-font-family: "Didact Gothic", cursive;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #eb6864;
